<a href="https://colab.research.google.com/github/jordi-fontan/ColoradoBoulder-Phyton/blob/main/C2M1Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice!

This lab is all about defining simple functions. Are you ready? Let's go!

You will find some small tasks in sections below.

## Define simple functions (without return value and parameters)

###Task: define a function that print "hello world"

In [ ]:
# your code will be here
def hello():
  print('hello world')

###Task: define a function that print "hello world" 3 times

In [10]:
# your code will be here
def hello3():
  print('hello world')
  print('hello world')
  print('hello world')
hello3()

hello world
hello world
hello world

###Task: define a function that print integers 1 to 10 (hint: you can use a for loop)

In [11]:
# your code will be here
def hello10():
  for i in range(10):
    print('hello world')
hello10()

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

###Task: define a function that print primary integers in 100 (hint: you can use loops)

In [ ]:
# your code will be here
def p100():
  for i in range(100):
    print(i)
p100()

###Task: define a function that print even number from 1 to 10.

In [17]:
# your code will be here
def p100():
  for i in range(2,101,2):
    print(i)
p100()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

###Task: define a function that print odd number from 1 to 10

In [19]:
# your code will be here
def p101():
  for i in range(1,101,1):
    if i%2==1:
       print(i)
p101()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

###Task: define a function that print "Welcome to Course 2"

In [20]:
# your code will be here
def welcome():
  
    print("Welcome to Course 2")
welcome()

Welcome to Course 2

###Task: define a function that print "Welcome to Courose 2" 10 times.

In [24]:
# your code will be here
def welcome10():
  i=10
  while i>0:
    print("Welcome to Course 2",i)
    i-=1
welcome10()

Welcome to Course 2 10
Welcome to Course 2 9
Welcome to Course 2 8
Welcome to Course 2 7
Welcome to Course 2 6
Welcome to Course 2 5
Welcome to Course 2 4
Welcome to Course 2 3
Welcome to Course 2 2
Welcome to Course 2 1