<a href="https://colab.research.google.com/github/jordi-fontan/ColoradoBoulder-Phyton/blob/main/lab/M4Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to our Lab Practice!

This lab is about repetition - for loops. Are you ready? Let's get started!

You will find some small tasks in sections below.

###Task: Print all even numbers within 20

In [3]:
# type your code here

for n in range(21):
  if n%2==0:
    print(n)


for n in range(0,21,2):
  
    print(n)

0
2
4
6
8
10
12
14
16
18
20
0
2
4
6
8
10
12
14
16
18
20

### Task: Print all numbers dividble by 5 within 100

In [4]:
# type your code here
for n in range(101):
  if n%5==0:
    print(n)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
0

In [6]:
for n in range(0,101,5):
  print(n)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

###Task: Print all integers from -5 to 5.

In [7]:
# type your code here
for n in range(-5,6,1):
  print(n)

-5
-4
-3
-2
-1
0
1
2
3
4
5

###Task: Print all integers of an interval given by the user

Ask the user to enter two integers and print all integers between (including) them.

In [8]:
# type your code here

bottom=int(input('Select bottom int: '))
top=int(input('Select top int: '))

for n in range(bottom, top+1,1):
  print(n)

Select bottom int: 3
Select top int: 10
3
4
5
6
7
8
9
10