<a href="https://colab.research.google.com/github/jordi-fontan/ColoradoBoulder-Phyton/blob/main/c1m3AritmethicOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operations

+,-
*,/,**
//,%

In [ ]:
print(3+4)
print(6-2)
print(3*2)
print(6/2)
print(3**3)
print(9%4)
print(9//4)

7
4
6
3.0
27
1
2

# Converters:

**input() is str**

In [ ]:
print(type(input("Type a number:")))

Type a number:3
<class 'str'>



*  int()
*  float()
* str()

In [ ]:
x=int(input("Type a number(int):"))
print(x, "is a ", type(x))

Type a number(int):8
8 is a  <class 'int'>

## Splitting and errors

In [ ]:
first_name, last_name=input('type your first and last name').split(' ') 
print('name:',first_name)
print('last name:',last_name)

#mult two numbers

x,y=input('type 2 integers').split()
print(int(x)) # wild raise and error if can't convert
print(int(y))

type your first and last nameJordi Fontan
name: Jordi
last name: Fontan
type 2 integers3 two
3

ValueError: ignored