<a href="https://colab.research.google.com/github/jordi-fontan/ColoradoBoulder-Phyton/blob/main/Module4_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 4: Loops


## Intro

- We often need to run tasks repeatedly.
- Rather than write the same code again and again , we can set a repetiion flow to execute statements based on:
  - **Condition**
  - **Count**

## Condition Based Repetition

  - While the condition is tested to be true, the enclosed statements will be executed.

  ### The while loop

  - We can use while to start a loop:
  
  ```
  while condition:
    statements
   
   ```

   - the first line known as the *while* clause
    - `while` clause speficies the `condition` with a :
    - List statement(s) with a consitent **indention**
    - If the condition is tested to be `True`, the statement(s) in `while` clause will be executed; otherrwise, skip and move to next.

## Count-Based Repetition

- We may also need to repeat the task for an specific number of times.

### The for Loop

- We can use `for`to start a loop:

```
for item in [item1, item2,.., itemn]:
  statements

```
- The firts line known as the `for` clause
  - `for` clause soecifies the *sequence* of *items* with a `:`
  - Iterates once for each *item* in the *sequence*
  - The number of items n in the seqyence is the number of time the statements will be executed
  - List statement(s) with consistent identation.


  ### The for loop with range

  - We can use range to create a sequence for a for loop:
  ```
    for item in range(n):
      statements

  ``` 
  
  ### `range()` characteristics:
    
    - One argument: used as ending limit: range(5)=range(0,5)=range(0,5,1)= [0,1,2,3,4,5]
    - Two arguments: starting value and ending limit: range(2,5)= [2,3,4]
    - Three arguments: thrid argument is step value: range (2,5,2)= [2,4]

  ### `continue` and `break`  

  - In repetition structure (any) we can use these two special keywords
  - `continue` = skips the rest of the statement and jumps to the next iteration
  - `break`= stop the repetition inmmediatly

In [ ]:
## FOR LOOP

# print a list of integers 

for i in [1,2,3,5,7]:
  print(i)

1
2
3
5
7

In [ ]:
## Range
# print a range of numbers
for i in range(5,10,3):
  print(i)

5
8

In [ ]:
## Chars and Strings
for c in 'Hello World':
  print(c)

H
e
l
l
o

W
o
r
l
d

In [ ]:
# calculate sum lf a list of numbers

numbers=[1,2,3,5,7]
sum=0
for n in numbers:
  sum+= n
print(sum)

18

In [ ]:
# claculate sum of 0 to 100
sum=0
for n in range(1,100):
  sum+=n
print(sum)

4950

In [9]:
## Break and continue

# when enter stop to exit

while True:
  inputs=input('Please enter some word to display, STOP to stop :')
  if inputs == 'STOP':
    break
  print(inputs)

Please enter some word to display, STOP to stop :jdsfkfs
jdsfkfs
Please enter some word to display, STOP to stop :sfsfgsg
sfsfgsg
Please enter some word to display, STOP to stop :STOP

In [11]:
# print all numbers whose square is less than 100


x=0
while True:
  if x**2 >=100:
    break
  print(x,x**2)
  x +=1

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [12]:
#print numbers dividable by 5 within 100

for i in range(101):
  if i % 5 !=0:
    continue
  print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100